In [7]:
import os
import pandas as pd

In [8]:
local_data_path = "/Users/xwpeng/Projects/Erdos_NewsFin/data/model_news"

In [9]:
# experiment 1
# 150 topics
# filter tokens:
# (1) shown at least 100 news articles
# (2) 30% of the total number of documents
# (3) 1000 high frequency tokens
# (4) gamma = 1
# (5) alpha = 1 
topics_1 = pd.read_csv(os.path.join(local_data_path, "all_100_03_1000", "HDP_150_news_topics.csv"))

# experiment 2
# 150 topics
# filter tokens:
# (1) shown at least 10 news articles
# (2) 50% of the total number of documents
# (3) 5000 high frequency tokens
# (4) gamma = 1 
# (5) alpha = 1 
topics_2 = pd.read_csv(os.path.join(local_data_path, "all_10_05_5000", "HDP_150_news_topics.csv"))

# experiment 3
# 300 topics
# filter tokens:
# (1) shown at least 10 news articles
# (2) 50% of the total number of documents
# (3) 10000 high frequency tokens
# (4) gamma = 1 
# (5) alpha = 1 
topics_3 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000", "HDP_300_news_topics.csv"))

# experiment 4
# 500 topics
# filter tokens:
# (1) shown at least 10 news articles
# (2) 50% of the total number of documents
# (3) 10000 high frequency tokens
# (4) gamma = 50 
# (5) alpha = 0.5 
topics_4 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000_50_05", "HDP_500_news_topics.csv"))

# experiment 5
# 500 topics
# filter tokens:
# (1) shown at least 10 news articles
# (2) 50% of the total number of documents
# (3) 10000 high frequency tokens
# (4) gamma = 200 
# (5) alpha = 0.8 
topics_5 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000_200_08", "HDP_500_news_topics.csv"))

In [4]:
topics_1.head()

,topic,words,weights
0,0,"['worth', 'higher', 'build', 'man', 'fact', 'h...","[0.001324, 0.001311, 0.001278, 0.001276, 0.001..."
1,1,"['budget', 'seems', 'intelligence', 'go', 'fac...","[0.001347, 0.001305, 0.001285, 0.001277, 0.001..."
2,2,"['directly', 'trumpdonald', 'especially', 'kin...","[0.001307, 0.00129, 0.001289, 0.001287, 0.0012..."
3,3,"['issued', 'nine', 'washington', 'previously',...","[0.001401, 0.001378, 0.001325, 0.001309, 0.001..."
4,4,"['crisis', '2', 'took', 'remains', 'second', '...","[0.001296, 0.001281, 0.001278, 0.001278, 0.001..."

In [4]:
topics_2.head()

,topic,words,weights
0,0,"['launching', 'scene', 'gym', 'kid', 'publishe...","[0.000277, 0.000276, 0.000273, 0.000273, 0.000..."
1,1,"['guideline', 'assured', 'weigh', 'resulting',...","[0.000278, 0.000277, 0.000274, 0.000271, 0.000..."
2,2,"['professional', 'teammate', 'commentator', 'd...","[0.000277, 0.000268, 0.000266, 0.000265, 0.000..."
3,3,"['control', 'solar', 'idea', 'state', 'forward...","[0.000278, 0.000278, 0.000275, 0.00027, 0.0002..."
4,4,"['described', 'funded', 'specific', 'ken', 'ri...","[0.000286, 0.000271, 0.000269, 0.000269, 0.000..."

In [6]:
topics_2["words"][137]

"['reserve', 'string', 'stated', 'gary', 'expected', 'nelson', 'boosting', 'tom', 'secretary', 'explain', 'succeed', '42', 'perfectly', 'typical', 'traditionally', 'immigration', 'purchase', 'cautious', 'code', 'unlike', 'use', 'attract', 'drawing', 'finance', 'protest', 'unclear', 'republic', 'approach', 'ball', 'opposition', 'mounting', 'armed', 'basically', 'floor', 'city', 'truly', 'sit', 'comedy', 'flood', 'establishment', 'essential', 'somehow', 'legally', 'surveillance', 'arm', 'milk', 'touch', 'panel', 'venezuela', 'africa', 'equipment', 'understood', 'promised', 'disclosure', 'sent', 'survey', 'spur', 'hiding', 'need', 'range', 'inspector', 'holiday', 'collins', 'marijuana', 'signing', 'announce', 'voiced', 'department', 'voting', 'projection', 'bought', 'area', 'outside', 'comparison', 'reporting', 'carefully', 'bunch', 'celebrity', 'holder', 'heaven', 'alphabet', 'jump', 'innovation', 'northeast', 'spoke', 'revealed', 'direction', 'return', 'nevertheless', 'excitement', 'declaration', 'necessary', 'officer', 'court', 'desk', 'chaos', 'making', 'pen', 'running', 'hill']"

In [5]:
topics_3.head()

,topic,words,weights
0,0,"['import', 'spinoff', 'point', 'shameful', '74...","[0.000141, 0.00014, 0.00014, 0.000138, 0.00013..."
1,1,"['francois', 'landing', 'reject', 'dr', 'athen...","[0.000144, 0.000141, 0.000141, 0.000141, 0.000..."
2,2,"['ali', 'breakdown', 'survival', 'pinned', 'mu...","[0.00015, 0.000145, 0.000144, 0.000141, 0.0001..."
3,3,"['dealer', 'diversity', 'cooperation', 'slide'...","[0.000142, 0.00014, 0.000138, 0.000137, 0.0001..."
4,4,"['disability', 'french', 'appreciation', 'corn...","[0.000145, 0.000145, 0.000142, 0.000139, 0.000..."

In [ ]:
news_w_topic_1 = pd.read_csv(os.path.join(local_data_path, "all_100_03_1000", "HDP_150_news_w_topic.csv"))
news_w_topic_1.head()

,date,key_topic,key_topic_wights,all_topics
0,2016-01-01,12,0.987655,"[(12, 0.9876548586157392)]"
1,2016-01-01,14,0.676232,"[(14, 0.676231652882754), (24, 0.2931798569325..."
2,2016-01-01,24,0.458178,"[(24, 0.45817803494638304), (2, 0.415793153306..."
3,2016-01-01,8,0.374486,"[(8, 0.3744858154658396), (41, 0.3131695471469..."
4,2016-01-01,18,0.332912,"[(18, 0.3329120096822193), (0, 0.3090773959657..."

In [9]:
key_topic_counts_1 = news_w_topic_1.groupby('key_topic').size()
key_topic_counts_1.describe()

count       150.000000
mean      11859.253333
std       27377.974688
min          14.000000
25%          68.250000
50%         185.500000
75%        2071.500000
max      184213.000000
dtype: float64

In [16]:
news_w_topic_2 = pd.read_csv(os.path.join(local_data_path, "all_10_05_5000", "HDP_150_news_w_topic.csv"))
key_topic_counts_2 = news_w_topic_2.groupby('key_topic').size()
key_topic_counts_2.describe(percentiles=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

count      148.000000
mean     12019.513514
std      19249.405285
min          1.000000
10%          4.000000
20%          6.400000
30%         16.000000
40%         29.800000
50%         94.000000
60%        960.800000
70%      10397.400000
80%      30086.000000
90%      46505.200000
max      92494.000000
dtype: float64

In [11]:
key_topic_counts_2.tail(20)

key_topic
130    9357
131    1281
132     639
133       5
134       5
135       9
136      18
137     853
138       7
139       4
140    2304
141      14
142     796
143      15
144      16
145       4
146      46
147      40
148      70
149     328
dtype: int64

In [12]:
key_topic_counts_2.head(20)

key_topic
0     92494
1     54241
2     55081
3     49379
4     48365
5     39591
6     37574
7     49417
8     58765
9     47644
10    41662
11    28067
12    14744
13    46144
14    29477
15    39572
16    49421
17    56494
18    48339
19    35816
dtype: int64

In [15]:
news_w_topic_3 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000", "HDP_300_news_w_topic.csv"))
key_topic_counts_3 = news_w_topic_3.groupby('key_topic').size()
key_topic_counts_3.describe(percentiles=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

count      134.000000
mean     13275.283582
std      17015.030813
min          1.000000
10%          1.000000
20%          1.000000
30%         18.900000
40%        391.800000
50%       4222.500000
60%      13002.000000
70%      19640.600000
80%      29239.600000
90%      37117.800000
max      99511.000000
dtype: float64

In [14]:
news_w_topic_3.head(100)

,date,key_topic,key_topic_wights,all_topics
0,2016-01-01,1,0.578511,"[(1, 0.5785113185223453), (38, 0.3802828091549..."
1,2016-01-01,11,0.655253,"[(11, 0.6552526064435698), (22, 0.190638326757..."
2,2016-01-01,22,0.347180,"[(22, 0.34717981269281817), (129, 0.2779235070..."
3,2016-01-01,40,0.680072,"[(40, 0.680071869511068), (27, 0.1747333266812..."
4,2016-01-01,17,0.542192,"[(17, 0.5421920570064634), (0, 0.1929152580009..."
...,...,...,...,...
95,2016-01-01,27,0.997003,"[(27, 0.9970028713614197)]"
96,2016-01-01,40,0.402058,"[(40, 0.40205775906694713), (129, 0.2644467816..."
97,2016-01-01,20,0.997323,"[(20, 0.9973228275894607)]"
98,2016-01-01,25,0.859867,"[(25, 0.8598669279615778), (40, 0.131563608261..."
99,2016-01-01,1,0.745339,"[(1, 0.745338812477028), (16, 0.22851717988202..."

In [6]:
news_w_topic_4 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000_50_05", "HDP_500_news_w_topic.csv"))
key_topic_counts_4 = news_w_topic_4.groupby('key_topic').size()
key_topic_counts_4.describe(percentiles=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

count       153.000000
mean      11626.718954
std       14846.469285
min           1.000000
10%           1.000000
20%           2.000000
30%          31.200000
40%         460.800000
50%        4657.000000
60%       12970.400000
70%       17454.400000
80%       23027.800000
90%       31470.200000
max      100795.000000
dtype: float64

In [10]:
news_w_topic_5 = pd.read_csv(os.path.join(local_data_path, "all_10_05_10000_200_08", "HDP_500_news_w_topic.csv"))
key_topic_counts_5 = news_w_topic_5.groupby('key_topic').size()
key_topic_counts_5.describe(percentiles=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

count      163.000000
mean     10913.423313
std      14819.077764
min          1.000000
10%          1.000000
20%          1.000000
30%          8.800000
40%        138.200000
50%       1683.000000
60%       9698.000000
70%      15978.600000
80%      23263.400000
90%      29815.000000
max      82949.000000
dtype: float64